<div class="demo">
  <h2>Ultipicker</h2>
  <ng2-ultipicker-dual [minStartDate]="minDate"
                       [maxEndDate]="maxDate"
                       [defaultStartDate]="defaultStartDate"
                       [defaultEndDate]="defaultEndDate">
  </ng2-ultipicker-dual>
  <br>
  <br>
  <br>
  <h2>Mono picker</h2>
  <ng2-ultipicker-mono [minDate]="minDate"
                       [maxDate]="maxDate"
                       [defaultDate]="defaultStartDate">
  </ng2-ultipicker-mono>
  <br>
  <br>
  <br>
  <div>
    <p>For all picker set:</p>
    <p>Min date - {{minDate.format('MM-DD-YYYY')}}</p>
    <p>Max date - {{maxDate.format('MM-DD-YYYY')}}</p>
  </div>

</div>

