<!--<div class="dual-picker" [formGroup]="dualForm">-->
  <!--<ng2-ultipicker-dual [minStartDate]="minDate"-->
                       <!--[maxEndDate]="maxDate"-->
                       <!--[defaultStartDate]="defaultStartDate"-->
                       <!--[defaultEndDate]="defaultEndDate"-->
                       <!--[formControlName]="'date'">-->
  <!--</ng2-ultipicker-dual>-->
<!--</div>-->

<div class="mono-picker" [formGroup]="monoForm">

  <div style="max-width: 300px !important;">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="autoclose" [formControlName]="'autoClose'">
      <label class="form-check-label" for="autoclose">Enable autoclose</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="hasmindate" [formControlName]="'hasMinDate'">
      <label class="form-check-label" for="hasmindate">Enable min date</label>
    </div>

    <div class="form-group">
      <label for="mMindate">Minimal date</label>
      <input #monoMinInput class="form-control" id="mMindate" type="text">
    </div>
  </div>

  <ng2-ultipicker-mono [minDate]="minDate"
                       [maxDate]="maxDate"
                       [defaultDate]="defaultStartDate"
                       [autoClose]="getValueM('autoClose')"
                       [formControlName]="'date'">
  </ng2-ultipicker-mono>

</div>

